/* Notepad.css */
.main-container{
  display: block;
  text-align: center;
  
} 
.main-container h2{
  color: #68b26b;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}
.notepad-container {
  display: flex;
  max-width: 800px;
  margin: 30px auto ;
  background-color: #fbfbfb;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* 
.notepad-top-bar {
  height: 35px;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);

} */

.notepad-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;

}

.notepad-header h1 {
  margin: 0;
  font-size: 24px;
}

.notepad-textarea {
  width: 450px;
  height: 300px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
  margin-left: 15px;
}

.notepad-save-button {
  background-color: #68b26b;
opacity: 0.8;
color: rgb(0, 0, 0);
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
font-weight: 600;
font-size: 16px;
margin-left: 207px;
}

.notepad-save-button:hover {
  opacity: 1;
}
#NoteBtn{
  margin-bottom: 5px;
}
.notepad-notes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notepad-note-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.notepad-note-item button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: #999;
  font-size: 16px;
  cursor: pointer;
}

.notepad-note-item button:hover {
  color: #555;
}

.notepad-sidebar {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-left: 20px;
  padding: 20px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.notepad-sidebar-heading {
  margin-top: 0;
}

.notepad-saved-notes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notepad-saved-note-item {
  display: flex;
  align-items: center;
  font-size:16px;
}
label{
  padding: 4px;
}
/* p {
  user-select: none;
  
} */

