
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  

  /* React Project 1  */
  .App-logo{
    width: 100px;
  }
  header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.941);
    height: 15vh;
    justify-content:flex-start;
    
  }
  header>h1{
    color: rgb(0, 227, 227);
    padding-left: 2%;
    font-size: 44px;
    margin-top: 10px;
  }
  header>h3{
    color: rgb(0, 227, 227);
    padding-left: 60%;
    
  }
  .body{
    background-color: rgba(11, 10, 10, 0.957);
    height: 85vh;
    padding-top: 4rem;
    background-image: url(/src/Components/logo192.png);
    background-repeat: no-repeat;
    background-position: right 75%;

   
  }
 
  .body>h1{
    color: white;
  padding-left: 10%;
  font-weight: 700;
  font-size: 46px;
  
  }
  .body>ul{
    padding-top: 2rem;
    color: white;
    padding-left: 12%;
  }
  .body>ul>li{
    padding-block: 5px;
  }

  /* For styling list style/icon method 1 */
  
   ul>li::marker{
    color: aqua;
    font-size: 1.2rem;
  }

  /* For styling list style/icon method 2 */
  /* ul li::before{
    content: "\2022";
    color: aqua;
    font-weight: bold;
    display: inline;
    width: 1em;
    margin-right: 1rem;
  } */
  

  



  /* React Project 2 Business Card  */
.Cardbody
{
  background-color: rgb(15, 15, 15);
}
.img{
  display: flex;
  justify-content: center;
}
.img > img{
  width: 660px;
  height: 500px;
}
.title{
  margin-top: 3rem;
}

.title>h2 ,.title> p{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 5px;
}
.btns{
  display: flex;
  justify-content: center;
}
.btns>button{
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}

.btns>#linkedin{
  width: 100px;
  background-color:rgb(9, 171, 235) ;
}
.btns>button>#linkedin{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.btns>#email{
  width: 100px;
  background-color:rgb(255, 255, 255) ;
}
.btns>button>#email{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.main{
  background-color: rgba(19, 17, 17, 0.957);
  padding-top: 4%;
  padding-bottom: 4%;
}
.main>h2{
  color: white;
  padding-left: 45%;
}
.main>p{
  color: white;
  padding-left: 26%;
}

.icon{
      display: flex;
      justify-content: center;
      padding-top: 3%;
      padding-bottom: 3%;
}
.icon>img{
  padding-left: 4px;
}
.icon>a>#github{
  width: 50px;
}
@media screen and (max-width:760px) {
  .main>p{
    padding-left: 5%;
  }
  
}